html {
  font-size: 110%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-linkedin {
    color: #2867B2;
}

.fa-twitter {
    color: #00acee;
}

.fa-github {
    color: #333;
}

.fa-at {
    color: #333;
}

.fa-rss-square {
    color: darkorange;
}

/* Thanks: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}