{{- partial "header.html" . -}}

<main class="Site-content">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    {{- range .Paginator.Pages -}}
                        {{- partial "widgets/post-list.html" . -}}
                    {{ end }}
                    <!-- paginaiotion definition -->
                    {{- partial "pagination.html" . -}}
                </div>

                <div class="column">
                    <div class="box">
                        {{- partial "sidebar.html" . -}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{- partial "footer.html" . -}}