{{ partial "header.html" . }}

<main>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    {{ range .Paginator.Pages }}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-4" style="font-family: 'Cutive Mono', monospace;"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                                    <!-- <strong>Author: {{ .Params.Author }}</strong> <br> -->
                                    <hr class="is-marginless">
                                    <div class="columns is-marginless is-small">
                                        <div class="column is-narrow">
                                            <i class="fas fa-calendar-alt fa-1x has-text-danger">&nbsp;&nbsp;</i><time date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time>
                                        </div>
                                        <div class="column is-narrow">
                                            <i class="fas fa-folder-open fa-1x has-text-danger">&nbsp;&nbsp;</i>~/{{ with .File }}{{ .Dir }}{{ end }}
                                        </div>
                                        <div class="column is-narrow">
                                            <i class="fas fa-clock fa-1x has-text-danger">&nbsp;&nbsp;</i>Reading {{ .ReadingTime }} min.
                                        </div>

                                        {{ if .Params.Tags }}
                                        <div class="column is-narrow">
                                            <i class="fas fa-calendar-alt fa-1x has-text-danger">&nbsp;&nbsp;</i>
                                            <strong>Tags:</strong> {{range .Params.tags}}<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}
                                        </div>
                                        {{ end }}

                                        {{ if .Params.Categories }}
                                        <div class="column is-narrow">
                                            <i class="fas fa-calendar-alt fa-1x has-text-danger">&nbsp;&nbsp;</i>
                                            <strong>C:</strong> {{range .Params.categories}}<a class="tag" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}
                                        </div>
                                        {{ end }}

                                        {{ if .Params.Comments }}
                                        <div class="column is-narrow">
                                            <i class="fas fa-comments fa-1x has-text-danger">&nbsp;&nbsp;</i><a href="{{ .Permalink }}#disqus_thread"></a>
                                        </div>
                                        {{ end }}
                                    </div>
                                    <hr class="is-marginless">
                                </div>

                                <div class="content">
                                    {{ .Summary }}
                                </div>
                            </div>
                        </article>
                    </div> <!-- box -->
                    {{ end }}
                    <!-- paginaiotion definition -->
                    {{ partial "pagination.html" . }}
                </div>

                <div class="column">
                    <div class="box">
                        {{ partial "sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{ partial "footer.html" . }}