{{ partial "header.html" . }}

<main class="Site-content">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-2 has-text-info" style="font-family: 'Cutive Mono', monospace;" >{{ .Title }}</h1>
                                <!--                                <strong>Author:</strong> {{ .Params.Author }} <br>-->
                                <hr class="is-marginless">
                                <div class="columns is-1 is-size-6 is-marginless">
                                    <div class="column is-narrow">
                                        <i class="fas fa-clock fa-1x has-text-primary">&nbsp;&nbsp;</i>Reading {{ .ReadingTime }}
                                        minutes
                                    </div>
                                    <div class="column is-narrow">
                                        <i class="fas fa-calendar-alt fa-1x has-text-primary">&nbsp;&nbsp;</i><time date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time>
                                    </div>
                                    {{ if .Params.Comments }}
                                    <div class="column is-narrow">
                                        <i class="fas fa-comments fa-1x has-text-primary">&nbsp;&nbsp;</i><a href="{{ .Permalink }}#disqus_thread">Link</a>
                                    </div>
                                    {{ end }}
                                </div>
                                <hr class="is-marginless">
                            </div>

                            {{ if or (.Params.categories) (.Params.tags) }}
                            <div class="tags">
                                {{ if .Params.categories }}
                                {{ range .Params.categories }}
                                <span class="tag is-primary is-light">{{ . }}</span>
                                {{ end }}
                                {{ end -}}

                                {{- if .Params.tags }}
                                {{range .Params.tags}}
                                <span class="tag is-info is-light">{{ . }}</span>
                                {{ end }}
                                {{ end -}}
                            </div>
                            {{ end }}

                            <div class="content">
                                {{ if .Params.Share }}
                                {{ partial "sharethis.html" . }}
                                {{ end }}
                            </div>
                            <div class="content">
                                {{ .Content }}
                            </div>
                        </div>
                    </article>

                    {{-  if .Params.Comments }}
                    {{ partial "disqus.html" . }}
                    {{ end }}
                </div>

                <div class="column">
                    <div class="box">
                        {{ partial "sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
</main>

{{ partial "footer.html" . }}