{{ partial "header.html" . }}

<main class="Site-content">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    {{- $taxonomies := .Data.Plural -}}
                    {{- if eq $taxonomies "categories" -}}
                        {{- partial "widgets/categories.html" . -}}
                    {{- else if eq $taxonomies "tags" -}}
                        {{- partial "widgets/tags.html" . -}}
                    {{- end -}}
        </div>
                <div class="column">
                    <div class="box">
                        {{ partial "sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{ partial "footer.html" . }}