<div class="container">
    <nav id="navbar" class="navbar has-shadow tabs is-boxed " role="navigation" aria-label="main navigation">
        <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"> -->
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu is-size-5" id="navMenu">
            <div class="navbar-start">
                {{ range .Site.Menus.main }}
                <a class="navbar-item" style="font-family: 'Cutive Mono', monospace;" href="{{ .URL }}">{{ .Name }}</a>
                {{end}}
            </div>
            <div class="navbar-end">
                <a class="navbar-item" style="font-family: 'Cutive Mono', monospace;" href="/tags/">Tags</a>
                <a class="navbar-item" style="font-family: 'Cutive Mono', monospace;" href="/categories/">Categories</a>
            </div>
        </div>
    </nav>
</div>
