<div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <figure class="image is-128x128">
                <img class="is-rounded" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="">
            </figure>
        </div>
    </nav>
    <hr>

<!--    {{- partial "widgets/about-me.html" . -}}-->
    {{- partial "widgets/recent-posts.html" . -}}
    <div class="content">
        <h4 class="title is-4 has-text-info" style="font-family: 'Cutive Mono', monospace;">Tags</h4>
        {{ partial "widgets/tags.html" .}}
    </div>
    <hr>
    <div class="content">
        <h1 class="title is-4 has-text-info" style="font-family: 'Cutive Mono', monospace;">Categories</h1>
        {{ partial "widgets/categories.html" .}}
    </div>
    <hr>
    <div class="content has-text-centered">
        <!--        <h1 class="title is-4 has-text-info" style="font-family: 'Cutive Mono', monospace;">Elastic Certified Engineer</h1>-->
        <!--        TODO: make this configurable-->
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/19483761" alt="Elastic Certified Engineer">
        <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/29091822" alt="Elastic Certified Analyst">
    </div>
</div>