{{ partial "header.html" . }}

<main class="Site-content">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="content">
                        {{ .Content }}
                    </div>
                    <hr>
                    <h4 class="title is-4 has-text-grey-dark" style="font-family: 'Cutive Mono', monospace;">Featured Posts</h4>
<!--                    TODO: make number of featured posts configurable-->
                    {{ range first 3 (where .Site.Pages.ByDate.Reverse "Params.featured" true) }}
                    {{- partial "widgets/post-list-short.html" . -}}
                    {{ end }}
                </div>
                <div class="column">
                    <div class="box">
                        {{ partial "sidebar.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{ partial "footer.html" . }}